<head>
  <title> Car List </title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
  <p>
      {% if login_session['username']!=nullable %}
        <h2>Current User: {{login_session['username']}}</h2>
        <a href='{{url_for('gdisconnect')}}' >
          <button class="ButtonDefault">  LOGOUT  </button>
        </a>
      {% endif %}
      {% if login_session['username']==nullable %}
        <h2>View Only - Login to access edit mode</h2>
        <a href='{{url_for('showLogin')}}' >
          <button class="ButtonDefault">  LOGIN  </button>
        </a>
      {% endif %}
  </P>
  <h1>Cars</h1>

  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <section class = "carOverall">
    {% for i in cars_table %}
    <article class = "CarSummary">
        <div class = 'ListCars'>
          <span class = 'brand'><p>Brand: {{i.brand}}</p></span>
          <span class = 'model'><p>Model: {{i.model}}</p></span>
          <span class = 'description'><p>Description: {{i.description}}</p></span>
          <span class = 'user_id'><p>User Id: {{i.user_id}}</p></span>
        </div>
        <div class = "editDeletePane">
          <a href='{{url_for('showOption', car_id = i.id)}}' >
            <button class="ButtonDefault">  Details  </button>
          </a>
          {% if login_session['username']!=nullable %}
        	<a href='{{url_for('editCar', car_id = i.id)}}' >
            <button class="ButtonDefault">  Edit  </button>
          </a>
        	<a href='{{url_for('deleteCar', car_id = i.id)}}' >
            <button class="ButtonDefault">  Delete  </button>
          </a>
          {% endif %}
        </div>
    </article>
    {% endfor %}
  </section>
  <p></p>
  {% if login_session['username']!=nullable %}
  <a href = '{{url_for('newCar')}}'>
    <button class="ButtonDefault"> Add New Car </button>
  </a>
  {% endif %}
</body>
